.top_listbox
  .top_listbox-thumb #{image_tag event.image.to_s.presence || "events/thumbnail_top.png"}
  .top_listbox-txt
    %span.top_main-color #{event.opened_at.strftime("%Y/%m/%d %H:%M")}-#{event.closed_at.strftime("%H:%M")}
    %p.top_main-title #{link_to event.name, event}
    %span.top_main-descri #{event.description}
    %p
      %span #{link_to location_str(event.location_id), "/events/location/#{event.location_id}"}
      %span.top_main-tag
        - if event.tags.present?
          - event.tags.each do |tag|
            #{link_to tag, "/events/tag/#{tag}"}
        - else
          #{"--"}
      %div #{link_to image_tag("events/btn_show_detail.png"), event.url}
