#layouts-main-left
  %h1 Listing events

  %table
    %tr
      %th name
    - @events.each do |event|
      %tr
        %td #{event.name}
        %td #{link_to 'Show', event}
        %td #{link_to 'Edit', edit_event_path(event)}
        %td #{link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }}

  #{link_to 'New Test', new_event_path}


#layouts-main-right #{render "events/right_side"}
